<header class="d-flex justify-content-between align-items-center">
    <h1>{{LifeFolder.name}} LifeFolder</h1>
    {{!-- {{log this}} --}}
</header>

<a href="/lm/i/view/{{this.name}}/{{this.id}}/new/" class="btn"> Add {{name}} Sub Folder</a>

<ul class="list-group">
    {{log data}}
    {{#each data}}
    {{!-- {{log this}} --}}

        <li class="list-group-item d-flex justify-content-between">


<div>
    <h2>{{this.LifeFolder.name}}</h2>
        {{!-- {{log LifeFolder.subFolder}}  --}}

</div>

<div class="links">
    
    <a href="/lm/i/view/{{this.name}}/{{this.id}}"
    <a href="/lm/i/view/edit/{{this.id}}" class="btn">Edit</a>

<form action="/lm/i/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>

</div>
</li>
{{/each}}
</ul>

<script>console.log("hbs is working")
    
</script>